.simple-border(@color){
	border: 1px solid @color;
}

.box-shadow(@top:0px; @right:3px; @bottom:5px; @left:5px; @percent:0.2){
-webkit-box-shadow: @top @right @bottom @left rgba(0,0,0,@percent);
-moz-box-shadow: @top @right @bottom @left rgba(0,0,0,@percent);
box-shadow: @top @right @bottom @left rgba(0,0,0,@percent);
}


.box-shadow(@percent:0.2){
-webkit-box-shadow: 0px 3px 5px 5px rgba(0,0,0,@percent);
-moz-box-shadow: 0px 3px 5px 5px rgba(0,0,0,@percent);
box-shadow: 0px 3px 5px 5px rgba(0,0,0,@percent);
}

.top-rounded-effect(@left:50px; @right:50px){
	border-top-left-radius: @left;
	border-top-right-radius: @right;
}