@import "colors.less";
@import "mixins.less";

.weblysleek{
	font-family: 'WeblySleekUI';
}

.brushscript{
	font-family: 'Brushscript';
}

h1.brushscript{
	font-size: 20px;
	color: @grey;
}

body{
	font-family: 'Verdana';
	font-size: 14px;
	color: #000;
	background: @white url(../img/pattern.jpg) repeat;
}

.container{
	 // .simple-border(@gold);
	background-color: @white;
	padding: 10px 45px 10px;
	.box-shadow(0px, 0px, 10px, 5px, 0.2);
}

h2.logo-brand{
	 // .simple-border(@red) ;
	font-family: 'Eucrosia'; 
	color: @gold; 
	position: relative;
	font-size: 2.8em;
	margin-top: 5px;
	left:-30px;
	top:-10px;
}

h1{
	font-size: 2em;
}

small.subtitle{
	// .simple-border(@red);
	font-family: 'Corbel';
	font-size: 10px;
	letter-spacing: 3px;
	top: -30px;
	color: @orange;
	position: relative;
	left: 25px;
}

header > div.col-lg-2 {
	// .simple-border(@red);	
}

header > div.col-lg-10 {
	// .simple-border(@red);	
	position: relative;
	top: 0px;
}

header > div.col-lg-10{
	left: -30px;
}

header > div.col-lg-10 > h1{
	font-size: 1.8em;
	color: @grey;
}
/*Navbar scripts start at Line: 3577*/
/* Navbar script comes here */
#myNav{
	font-size: 15px;
	a{
	color: @black;
	:hover{
			color: @white;
			background-color: none;
		}
	}
}/* Navbar script ends  here */

#MainContent{
	font-size: 14px;
}

.goldColor{
	color: @gold;
}

/* Carousel Scripts here */
#myCarousel{
	height: 352px;
	overflow: hidden;
	margin-bottom: 10px;
}

#myCarousel .carousel-indicators{
	bottom: 10px;
}
/* Carousel Scripts ends */

/* Block quote CSS */
.center {
     text-align: justify;
}


.right {
    text-align: left;
    margin-bottom: -50px;
}

#quotation > .row.right > .col-lg-12{
	 text-align: left;
     margin-bottom: -50px;
}

.left{
	 // .simple-border(@gold);		
    // margin-top: -30px;
     text-align: right;
     // top: -50px;
     // padding: 0;
     // margin: 0;
}

#quotation > .row.left > .col-lg-3{
	 text-align: left;
     margin-bottom: -50px;
}

#quotation{
	border-left: 2px solid @orange;
	padding-left: 10px;
}

#quotation font{
	color: @orange;
	font-size: 70px;
}
/* Block quote CSS */

#sidebar .col-lg-12{
	.box-shadow(0.2);
	.top-rounded-effect(20px;0px);
	margin: 0px 0px 45px;
	padding-top: 10px;
	padding-bottom: 5px;
}

#sidebar .article-header{
 	// .simple-border(@gold);			
	margin-bottom: 0px;	
	height: 50px;
}

#sidebar .article-body h4{
	color: @grey;
}

#sidebar .gold{
	color: @gold;
}

#sidebar .grey{
	color: @grey;
}

#sidebar .orange{
	color: @orange;
}

#sidebar .article-header .bookmark{
	background: url(../img/yellow_stripes.png) 5px -5px no-repeat;
	height: 35px;
	left: -6px;
	top: -10px;
}

#sidebar .article-header .thumbnail-icon1{
 	// .simple-border(@gold);			
	background: url(../img/theme_thmb.png) 5px -5px no-repeat;
	height: 77px;
	right: -45px;
	top: -30px;
}

#sidebar .article-header .thumbnail-icon2{
 	// .simple-border(@gold);			
	background: url(../img/text_thmb.png) 5px 0px no-repeat;
	height: 85px;
	right: -45px;
	top: -30px;
}

#sidebar .article-header .thumbnail-icon3{
 	// .simple-border(@gold);			
	background: url(../img/plane_thmb.png) 5px 0px no-repeat;
	height: 85px;
	right: -50px;
	top: -30px;
}

#sidebar .article-header .sidebar-title{
	color: @orange;
	font-weight: bold;
	font-size: 16px;
}

#sidebar .article-body{
	position: relative;
	top:-40px;
	margin:0;
	padding: 0;
}

#sidebar .article-body h4{
	font-size: 14px;
	font-weight: bold;
	margin: 0;

}

#sidebar .article-body .article-list li div{
 	// .simple-border(@gold);			
	padding: 10px;
}

#sidebar #holidays-list p{
 	// .simple-border(@gold);
 	font-size: 12px;
 	line-height: 15px;
 	padding: 0px 5px;			
 	margin: 0;
 	top: -20px;			
}

#sidebar .article-body  p{
 	// .simple-border(@gold);
 	// font-size: 12px;
 	// line-height: 15px;
 	padding: 0px 5px;			
 	margin: 0;
 	top: -20px;			
}


#sidebar .article-body .article-list{
 	// .simple-border(@bluish);
	list-style: none;		
	padding: 0;
 	left: -55px;
}

#sidebar .article-body .article-list li{
 	// .simple-border(@gold);
 	padding: 0;
 	margin: 0;

}

.bannerSection{
	.box-shadow(@top:0; @right:-10px; @bottom:15px; @left:5px; @percent:0.2);
}

.col-lg-12.banner{
	color:@gold;
	font-weight: bolder;
}

.bottomSection{
	// .simple-border(@gold);
	padding-left: 60px;
}

.bottomSection ul{
	list-style: none;
	margin: 0;
	padding: 0px 25px;
	li{
	// .simple-border(@bluish);
		div{
			margin: 0px 25px 10px;
			img{
				position: relative;
				left: -15px;
			}
			p{
				font-family: verdana;
				font-size: 12px;
				.btn-block{
					font-family: 'Brushscript';
					font-size:20px;
					font-weight:lighter; 
				}
			}
		}
	}
}

footer{
	div.footer-row1{
		font-family: verdana;
		color:@bluish;
	}
	div.footer-row2{
		font-family: verdana;
		font-weight: bold;
		color:@gold;
	}
}



/* Media Queries for responsiveness*/
@media (min-width: 1200px){
	header > div.col-lg-10 {
	top: 90px;
	}	
}

@media (max-width: 680px){
	header > div.col-lg-2 {
	position: relative;
	// .simple-border(@red);
	left: 40%;
	}	
	header > div.col-lg-10 {
	left: 5%;
	}	
}

@media(max-width: 1200px){
	#quotation > .row.right > .col-lg-12{
	 // .simple-border(@gold);		
	text-align: left;
    margin-bottom: 0px;
	}
	#quotation > .row.left > .col-lg-3{
	 text-align: right;
     margin-bottom: -50px;
	}
}

/* Positioning of Sidebar Icons */
@media(max-width: 1200px){
	.carousel-control{
		display: none;
	}
	#sidebar .article-header .thumbnail-icon1{
 	// .simple-border(@gold);			
	right: -180px;
	}
	#sidebar .article-header .thumbnail-icon2{
 	// .simple-border(@gold);			
	right: -180px;
	}
	#sidebar .article-header .thumbnail-icon3{
 	// .simple-border(@gold);			
	right: -190px;
	}
}

@media(max-width: 992px){
	.carousel-control{
		display: none;
	}
	#sidebar .article-header .thumbnail-icon1{
 	// .simple-border(@gold);			
	right: -125px;
	}
	#sidebar .article-header .thumbnail-icon2{
 	// .simple-border(@gold);			
	right: -125px;
	}
	#sidebar .article-header .thumbnail-icon3{
 	// .simple-border(@gold);			
	right: -135px;
	}
}

@media(max-width: 768px){
	.carousel-control{
		display: none;
	}
	#sidebar .article-header .thumbnail-icon1{
 	// .simple-border(@gold);			
	right: -95px;
	}
	#sidebar .article-header .thumbnail-icon2{
 	// .simple-border(@gold);			
	right: -95px;
	}
	#sidebar .article-header .thumbnail-icon3{
 	// .simple-border(@gold);			
	right: -105px;
	}
}

@media(max-width: 560px){
	.carousel-control{
		display: none;
	}
	#sidebar .article-header .thumbnail-icon1{
 	// .simple-border(@gold);			
	right: -55px;
	}
	#sidebar .article-header .thumbnail-icon2{
 	// .simple-border(@gold);			
	right: -55px;
	}
	#sidebar .article-header .thumbnail-icon3{
 	// .simple-border(@gold);			
	right: -65px;
	}
}

